* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    font-family: "Lato", sans-serif;
}

.headline-bar {
    width: 100%;
}

.headline-bar > .pannel {
    background-color: #3C40C6;
    min-height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 0;
}

.headline-bar > .pannel > marquee {
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

nav.navbar {
    position: sticky;
    z-index: 1000;
    background-color: white;
}

.branding {
    font-family: "Marck Script", cursive !important;
    font-size:200%;
}

.navbar-brand > img {
    width: 8vw;
    height: 8vh;
}

.nav-item {
    margin-right: 1%;
    padding: 1%;
}

.nav-item.active {
    border-bottom: 3px solid #FF6600;
}

.nav-item > * {
    display: inline-block !important;
    padding: 0;
    font-weight: bold;
}

.nav-item > .nav-link {
    padding: 0 !important;
}

.carousel-section {
    min-height: 100px;
    border-radius: 20px;
}

#about-us > div.content {
    font-style: italic;
}

.item.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item > .table-no-bg {
    background-color: transparent !important;
}

.item > .table-no-bg th, .table-no-bg td {
    background-color: transparent !important;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom-width: 0 !important;
}

.item > p {
    font-size: smaller;
}

.footer > .info-section {
    background-color: #1A3636;
    color: white;
}

.footer > .info-section > div {
    border: 1px solid black;
}

nav#navbar {
    position: sticky;
}