*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100%;
    background-color: #FFF7F7;
}

.headline-bar{
    width: 100%;
}

.headline-bar > .pannel {
    background-color: #3C40C6;
    min-height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding:0;
}

.headline-bar > .pannel > marquee {
    margin:0;
    padding:0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

nav.navbar{
    position: sticky;
}

#main-nav.sticky-style{
    background-color: #FABC3F;
    border-radius: 10px;
}

.navbar-brand > img {
    width: 70px;
    height: 70px;
}

.nav-item{
    margin-right: 1%;
    padding:1%;
}

.nav-item.active{
    border-bottom: 3px solid  #FF6600;
}

.nav-item > * {
    display: inline-block !important;
    padding: 0;
    font-weight: bold;
}

.nav-item > .nav-link {
    padding: 0 !important;
}

.carousel-section{
    min-height: 100px;
    border-radius:20px;
}

.item {
    border-color: #FF885B !important;
}

.item.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item > .table-no-bg {
    background-color: transparent !important;
}
.item > .table-no-bg th, .table-no-bg td {
    background-color: transparent !important;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom-width: 0 !important;
}

.item > p {
    font-size: smaller;
}

.footer > .info-section{
    background-color: #295F98;
}

.footer > .info-section > div {
    background-color: #EAE4DD !important;
}